---
import Layout from "../layouts/Layout.astro";
const pageTitle = "About";
---

<Layout title={pageTitle}>
  <h1>This is Me</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid
    officiis quo nesciunt ducimus earum eius maiores libero quaerat, ut deserunt
    atque porro aliquam ad, omnis temporibus voluptates sapiente voluptas! Ad
    fuga quam fugiat incidunt debitis architecto magnam inventore veniam
    molestiae deserunt. Quae ex explicabo quo voluptate deserunt corrupti
    eveniet!
  </p>
</Layout>
