---
import Layout from "../layouts/Layout.astro";

const pageTitle = "This is your Home";
---

<Layout title={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>Explore our projects and blog posts.</p>
</Layout>
